body {
    font-size: 14px;
    font-family: 'Comic Sans MS', arial;
}
a {
    text-decoration: none;
}
ul, 
ul ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#wrapper {  
    font-size: 12px;
}
.menu {
    width: auto;
    height: auto;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
}
.menu > li > a {
    background-color: #616975;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(114, 122, 134)),to(rgb(80, 88, 100)));
    background-image: -webkit-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: -moz-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: -o-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: -ms-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#727a86', EndColorStr='#505864');
    border-bottom: 1px solid #33373d;
    -webkit-box-shadow: inset 0px 1px 0px 0px #878e98;
    -moz-box-shadow: inset 0px 1px 0px 0px #878e98;
    box-shadow: inset 0px 1px 0px 0px #878e98;
    width: 100%;
    height: 2.75em;
    line-height: 2.75em;
    text-indent: 2.75em;
    display: block;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #fff;
    text-shadow: 0px 1px 0px rgba(0,0,0,.5);
}

.menu ul li a {
    background: #fff;
    border-bottom: 1px solid #efeff0;
    width: 100%;
    height: 2.75em;
    line-height: 2.75em;
    text-indent: 2.75em;
    display: block;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.923em;
    font-weight: 400;
    color: #878d95;
}
.menu ul li:last-child a {
    border-bottom: 1px solid #33373d;
}

.boton {
    background-color: red;
}

input{
    margin: 10px;
    border-radius: 10px;
    width: 350px;
    padding-left: 30px
}



.lista{
    padding-top: 10px;
    border: black 1px solid;
    padding-bottom: 700px;
}

#menu1 * { list-style:none;}
#menu1 li{ line-height:180%;}
#menu1 li a{color:#222; text-decoration:none;}
#menu1 li a:before{ content:"\025b8"; color:#ddd; margin-right:4px;}
#menu1 input[name="list"] {
    position: absolute;
    left: -1000em;
    }

#menu1 label:before{ content:"\025b8"; margin-right:4px;}
#menu1 input:checked ~ label:before{ content:"\025be";}
#menu1 .interior{display: none;}
#menu1 input:checked ~ ul{display:block;}

select{
    border-radius: 3px;
    width: 140px;
}

ul.menu1 {
  clear: both;
  float: left;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

